@font-face {
    font-family: 'NukuNuku';
    src: url('../fonts/nuku1-webfont.woff2') format('woff2'),
         url('../fonts/nuku1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
